doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    //- link(rel='stylesheet', href='/css/libs.css')
    //- link(rel='stylesheet', href='/css/base.css')
    //link(rel="stylesheet", href="css/bootstrap.min.css")
  body
    nav.navbar.navbar-default
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          a.navbar-brand(href='/') Главная
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/admin') Админ
            li
              a(href='/') Девушки
            li
              a(href='/cities') Города
          form.navbar-form.navbar-left(action="/search" method="get")
            .form-group
              input.form-control(type='text', placeholder='Поиск' name="search" value="Дарья")
            button.btn.btn-default(type='submit')
              i.glyphicon.glyphicon-search

    block content


    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
